* {
    font-family: Calibri,Arial;
}
body {
    margin: 0;
    padding: 0;
}
#title {
    background: url("title-bg.png");
    background-position: -200px 0px;
    background-repeat: no-repeat;
    color: white;
    font-size: 1.65em;
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 5px;
    width: 500px;
}
table {
    border-collapse: collapse;
    margin-left: 5px;
}
td {
    border-bottom: 1px solid gray;
    vertical-align: middle;
}
td.noborder {
    border: 0;
}
input {
    background-color: rgba(200, 200, 200, 0.5);
    border-width: 1px;
    width: 400px;
}
input[type="button"] {
    border-width: 1px;
    padding: 5px 3px;
    width: 80px;
    border-radius: 3px;
    font-weight: bold;
    color: #7f7f7f;
    background-color: rgba(200, 200, 200, 0.5);
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
input[type="button"]:hover {
    color: #08107C;
}
input[type="checkbox"] {
    border-width: 1px;
    padding: 3px;
    width: 20px;
    background-color: transparent;
}
input[type=text], select {
    background-color: rgba(200, 200, 200, 0.5);
    border: 1px solid #4297D7;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    padding: 5px;
    width: 390px;
}
select {
    width: 401px;
    overflow: auto;
}
.hidden { display: none; }
